field_name,field_type,datatype,regex,description
autonomous-system,artifact,autonomous-system,,
domain,artifact,domain,,
filename,artifact,filename,,
fqdn,artifact,fqdn,,
hash,artifact,hash,,
ip,artifact,ip,,
mail,artifact,mail,,
mail_subject,artifact,mail_subject,,
other,artifact,other,,
regexp,artifact,regexp,,
registry,artifact,registry,,
uri_path,artifact,uri_path,,
url,artifact,url,,
user-agent,artifact,user-agent,,
customField1,customField,string,,placeholder row to expand with custom fields
src,artifact,ip,,example of how to extend the list of artifact to include other fields
