thehive_instance,thehive_url,thehive_api_key_name,thehive_verifycert,thehive_ca_full_path,thehive_use_proxy,client_use_cert,client_cert_full_path
th_test,https://testhive.example.com/,thehive_api_key1,True,,False,False,,
th_prod,https://thehive.example.com/,thehive_api_key3,True,,False,False,,
